{% extends "comercial/base_comercial.html" %}

{% block AreaTrabajo %}
<div class="row">
  </br>
  <div id="info-evento">
  </div>
</div>
</br></br>
<div class="col-sm-11 col-sm-offset-1">
  {{ calendar }}</br></br>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-2">
      <p class="txt-c">
        <a href="{% url 'calendario_t' ano=p_month.year mes=p_month.month %}"><<< {{ previous_month }}</a>
      </p>
    </div>
    <div class="col-sm-3">
      <p class="txt-c">
        <a href="{% url 'calendario_t' ano=n_month.year mes=n_month.month %}">{{ next_month }} >>></a>
      </p>
    </div>
  </div>
  </br></br>
</div>
{% endblock %}

{% block javascript %}
<script>
$('a.cita').on('click', function(event){
  event.preventDefault();
  var element = $(this);
  $.ajax({
    url : '/comercial/detalle_cita/',
    type: 'GET',
    data: { cita_pk : element.attr("data-id")},

    success : function(response){
      $('#info-evento').html(' ' + response);
    }
  });
});
$('a.interaccion').on('click', function(event){
  event.preventDefault();
  var element = $(this);
  $.ajax({
    url : '/comercial/detalle_interaccion/',
    type: 'GET',
    data: { inte_pk : element.attr("data-id")},

    success : function(response){
      $('#info-evento').html(' ' + response);
    }
  });
});
$('a.caso').on('click', function(event){
  event.preventDefault();
  var element = $(this);
  $.ajax({
    url : '/comercial/detalle_caso_calendario/',
    type: 'GET',
    data: { caso_pk : element.attr("data-id")},

    success : function(response){
      $('#info-evento').html(' ' + response);
    }
  });
});
</script>
{% endblock %}
