{% extends "comercial/base_comercial.html" %}
{% load crispy_forms_tags %}

{% block AreaTrabajo %}
<div class="col-sm-12">
  <form method='POST' action=''>
    {% csrf_token %}
    <div class="col-sm-6">
      </br>
      <h3>Información del Prospecto:</h3></br>
      {{ clienteform|crispy }}
      </br>
      <h3>Persona Encargada:</h3></br>
      {{ contacto_cform|crispy }}
      <input type='submit' value='Siguiente'>
    <p></p></br></br>
    </div>
    <div class="col-sm-6">
      </br>
      <h3>Detalle de lo requerido:</h3></br>
      {{ caso_form|crispy }}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
      $('.dateinput').datepicker({ format: "yyyy/mm/dd" });
  });
</script>
{% endblock %}
