{% extends "comercial/base_comercial.html" %}

{% block AreaTrabajo %}
</br></br>
<div class="col-sm-12 col-xs-12">
  {% for caso in lista_casos_crd %}
    <div class="row cerrado">
      <div class="row">
        <div class="col-sm-9">
          <h4 class="h4_ctrl_panel_vendedor">{{ caso }}</h4>
        </div>
        <div class="col-sm-3">
          </br><a href="{% url 'detalle_caso' pk=caso.pk %}">detalle caso</a>
        </div>
      </div>
    </div>
  {% endfor %}
  {% for caso in lista_casos_fon %}
    <div class="row aprobado {% if caso.Requiere_revision_vtas == True %} attn-req {% endif %}">
      <div class="row info-caso">
        <div class="col-sm-9">
          <h4 class="h4_ctrl_panel_vendedor">{{ caso }}</h4>
        </div>
        <div class="col-sm-3">
          </br><a href="{% url 'detalle_caso' pk=caso.pk %}">detalle caso</a>
        </div>
      </div>
      <div class="col-sm-12 dp-n opciones-caso">
        <div class="col-sm-3">
          <p><a class="agregar_int" href="{% url 'agregar_interaccion' pk_caso=caso.pk %}">Interaccion</a></p>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <a class="que_sigue">¿Que Sige?</a>
        </div>
        <div class="col-sm-3 col-xs-offset-1">
        </div>
        </br></br></br>
        <div class="row anotacion dp-n">
          <hr>
          <div class="col-sm-11 col-sm-offset-1">
            {% for anotacion in lista_anotacion_apr %}
              {% if anotacion.al_Caso == caso %}
                <p>Anotacion mas reciente: </p>
                <h4> {{ anotacion.Requerimiento }} </h4>
                <p>Hecha por: {{ anotacion.Hecha_por }}</p>
              {% endif %}
            {% empty %}
              <p>No hay notaciones a este caso.</p>
            {% endfor %}
            <button data-id="{{ caso.pk }}" type="button">Solicitar Revision</button>
            </br></br>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% for caso in lista_casos_apr %}
    <div class="row aprobado {% if caso.Requiere_revision_vtas == True %} attn-req {% endif %}">
      <div class="row info-caso">
        <div class="col-sm-9">
          <h4 class="h4_ctrl_panel_vendedor">{{ caso }}</h4>
        </div>
        <div class="col-sm-3">
          </br><a href="{% url 'detalle_caso' pk=caso.pk %}">detalle caso</a>
        </div>
      </div>
      <div class="col-sm-12 dp-n opciones-caso">
        <div class="col-sm-3">
          <p><a class="agregar_int" href="{% url 'agregar_interaccion' pk_caso=caso.pk %}">Interaccion</a></p>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <a class="que_sigue">¿Que Sige?</a>
        </div>
        <div class="col-sm-3 col-xs-offset-1">
        </div>
        </br></br></br>
        <div class="row anotacion dp-n">
          <hr>
          <div class="col-sm-11 col-sm-offset-1">
            {% for anotacion in lista_anotacion_apr %}
              {% if anotacion.al_Caso == caso %}
                <p>Anotacion mas reciente: </p>
                <h4> {{ anotacion.Requerimiento }} </h4>
                <p>Hecha por: {{ anotacion.Hecha_por }}</p>
              {% endif %}
            {% empty %}
              <p>No hay notaciones a este caso.</p>
            {% endfor %}
            <button data-id="{{ caso.pk }}" type="button">Solicitar Revision</button>
            </br></br>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% for caso in lista_casos_eap %}
    <div class="row epe {% if caso.Requiere_revision_vtas == True %} attn-req {% endif %}">
      <div class="row info-caso">
        <div class="col-sm-9">
          <h4 class="h4_ctrl_panel_vendedor">{{ caso }}</h4>
        </div>
        <div class="col-sm-3">
          </br><a href="{% url 'detalle_caso' pk=caso.pk %}">detalle caso</a>
        </div>
      </div>
      <div class="col-sm-12 dp-n opciones-caso">
        <div class="col-sm-3">
          <p><a class="agregar_int" href="{% url 'agregar_interaccion' pk_caso=caso.pk %}">Interaccion</a></p>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <a class="que_sigue">¿Que Sige?</a>
        </div>
        <div class="col-sm-3 col-xs-offset-1">
          <a class="documentacion" href="">Docu Faltante</a>
        </div>
        </br></br></br>
        <div class="row anotacion dp-n">
          <hr>
          <div class="col-sm-11 col-sm-offset-1">
            {% for anotacion in lista_anotacion_eap %}
              {% if anotacion.al_Caso == caso %}
                <p>Anotacion mas reciente: </p>
                <h4> {{ anotacion.Requerimiento }} </h4>
                <p>Hecha por: {{ anotacion.Hecha_por }}</p>
              {% endif %}
            {% empty %}
              <p>No hay notaciones a este caso.</p>
            {% endfor %}
            <button data-id="{{ caso.pk }}" type="button">Solicitar Revision</button>
            </br></br>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% for caso in lista_casos_epa %}
    <div class="row eap {% if caso.Requiere_revision_vtas == True %} attn-req {% endif %}">
      <div class="row info-caso">
        <div class="col-sm-9">
          <h4 class="h4_ctrl_panel_vendedor">{{ caso }}</h4>
        </div>
        <div class="col-sm-3">
          </br><a href="{% url 'detalle_caso' pk=caso.pk %}">detalle caso</a>
        </div>
      </div>
      <div class="col-sm-12 dp-n opciones-caso">
        <div class="col-sm-3">
          <p><a class="agregar_int" href="{% url 'agregar_interaccion' pk_caso=caso.pk %}">Interaccion</a></p>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <a class="que_sigue">¿Que Sige?</a>
        </div>
        <div class="col-sm-3 col-xs-offset-1">
          <a class="documentacion" href="">Docu Faltante</a>
        </div>
        </br></br></br>
        <div class="row anotacion dp-n">
          <hr>
          <div class="col-sm-11 col-sm-offset-1">
            {% for anotacion in lista_anotacion_epa %}
              {% if anotacion.al_Caso == caso %}
                <p>Anotacion mas reciente: </p>
                <h4> {{ anotacion.Requerimiento }} </h4>
                <p>Hecha por: {{ anotacion.Hecha_por }}</p>
              {% endif %}
            {% empty %}
              <p>No hay notaciones a este caso.</p>
            {% endfor %}
            <button data-id="{{ caso.pk }}" type="button">Solicitar Revision</button>
            </br></br>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% for caso in lista_casos_cot %}
    <div class="row cotizacion {% if caso.Requiere_revision_vtas == True %} attn-req {% endif %}">
      <div class="row info-caso">
        <div class="col-sm-9">
          <h4 class="h4_ctrl_panel_vendedor">{{ caso }}</h4>
        </div>
        <div class="col-sm-3">
          </br><a href="{% url 'detalle_caso' pk=caso.pk %}">detalle caso</a>
        </div>
      </div>
        <div class="col-sm-12 dp-n opciones-caso">
          <div class="col-sm-3">
            <p><a class="agregar_int" href="{% url 'agregar_interaccion' pk_caso=caso.pk %}">Interaccion</a></p>
          </div>
          <div class="col-sm-3 col-sm-offset-1">
            <a class="que_sigue">¿Que Sige?</a>
          </div>
          <div class="col-sm-3 col-xs-offset-1">
            <a class="documentacion" href="">Docu Faltante</a>
          </div>
          </br></br></br>
          <div class="row anotacion dp-n">
            <hr>
            <div class="col-sm-11 col-sm-offset-1">
            {% for anotacion in lista_anotacion_cot %}
              {% if anotacion.al_Caso == caso %}
                <p>Anotacion mas reciente: </p>
                <h4> {{ anotacion.Requerimiento }} </h4>
                <p>Hecha por: {{ anotacion.Hecha_por }}</p>
              {% endif %}
            {% empty %}
              <p>No hay notaciones a este caso.</p>
            {% endfor %}
            <button data-id="{{ caso.pk }}" type="button">Solicitar Revision</button>
            </br></br>
            </div>
          </div>
        </div>
    </div>
  {% endfor %}
  {% for caso in lista_casos_int %}
    <div class="row interes {% if caso.Requiere_revision_vtas == True %} attn-req {% endif %}">
      <div class="row info-caso">
        <div class="col-sm-9">
          <h4 class="h4_ctrl_panel_vendedor">{{ caso }}</h4>
        </div>
        <div class="col-sm-3">
          </br><a href="{% url 'detalle_caso' pk=caso.pk %}">detalle caso</a>
        </div>
      </div>
      <div class="col-sm-12 dp-n opciones-caso">
        <div class="col-sm-3">
          <p><a class="agregar_int" href="{% url 'agregar_interaccion' pk_caso=caso.pk %}">Interaccion</a></p>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <a class="que_sigue">¿Que Sige?</a>
        </div>
        <div class="col-sm-3 col-xs-offset-1">
          <a class="documentacion" href="">Docu Faltante</a>
        </div>
        </br></br></br>
        <div class="row anotacion dp-n">
          <hr>
          <div class="col-sm-11 col-sm-offset-1">
            {% for anotacion in lista_anotacion_int %}
              {% if anotacion.al_Caso == caso %}
                <p>Anotacion mas reciente: </p>
                <h4> {{ anotacion.Requerimiento }} </h4>
                <p>Hecha por: {{ anotacion.Hecha_por }}</p>
              {% endif %}
            {% empty %}
              <p>No hay notaciones a este caso.</p>
            {% endfor %}
            <button data-id="{{ caso.pk }}" type="button">Solicitar Revision</button>
            </br></br>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block javascript %}
<script>
$('.h4_ctrl_panel_vendedor').click( function() {
  $(this).parents('.info-caso').next('.opciones-caso').slideToggle();
});
$('.que_sigue').click( function() {
  $(this).parents('.opciones-caso').find('.anotacion').slideToggle();
});
$('button').on('click', function(event){
  event.preventDefault();
  var element = $(this);
  $.ajax({
    url : '/comercial/solicitar_revision/',
    type: 'GET',
    data: { caso_pk : element.attr("data-id") },

    success : function(response){
      element.html(' ' + response);
    }
  });
});
</script>
{% endblock %}
