{% extends "comercial/base_comercial.html" %}

{% block AreaTrabajo %}
<div class="row">
  <div class="col-sm-4 col-sm-offset-1">
    <h2>{{ agencia.get_Marca_display }} | {{ agencia.get_Grupo_display }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-1">
    <h4>Ciudad: {{ agencia.Ciudad }}</h4>
    <h4>Colonia: {{ agencia.Colonia }}</h4>
    <h4>Telefono: {{ agencia.Telefono }}</h4>
    {% if agencia.URL %}
      <h4>URL: {{ agencia.URL }}</h4>
    {% endif %}
    <h4>Atiende: {{ agencia.Atiende }}</h4>
    <a href="{% url 'actualizar_agencia' pk=agencia.pk %}">Editar agencia</a>
    <hr></br>
    {% for cuenta in cuentas %}
      <p><a href="">{{ cuenta }}</a></p>
    {% empty %}
      <p>No se han agregado cuentas de deposito para esta agencia.</p>
    {% endfor %}
  </div>
  <div class="col-sm-5 col-sm-offset-1">
    <h4>Contactos en Agencia:</h4>
    {% for contacto in contactos %}
      <p>{{ contacto }} / {{ contacto.get_Rol_display }}</p>
      <p>Email: <a href="mailto:{{ contacto.Email }}">{{ contacto.Email }}</a></p>
      {% if contacto.Celular %}
        <p>Celular: {{ contacto.Celular }}</p>
      {% endif %}
      <a href="{% url 'editar_contacto_agencia' pk=contacto.pk %}">Editar contacto</a>
      <p></p>
    {% empty %}
      <p>No se han agregado contactos para este cliente.</p>
    {% endfor %}
    </br>
    <p><a href="{% url 'nuevo_contacto_agencia' pk=agencia.pk %}">Agregar Contacto</a></p>
    </br>
  </div>
</div>
{% endblock %}
