{% extends "comercial/base_comercial.html" %}
{% load comercial_tags %}

{% block AreaTrabajo %}
<div class="row">
  <div class="col-sm-8">
    <h2>{{ cliente }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
    <h4>RFC: {{ cliente.RFC }}</h4>
    <h4>Es:
      {% if cliente.Persona_Moral == True %}
        Persona Moral
      {% else %}
        Persona Física
      {% endif %}
    </h4>
    <h4>Es: {{ cliente.get_Tipo_Negocio_display }}</h4>
    <h4>Industria: {{ cliente.Industria }}</h4>
    {% if not request.user|has_group:"comercial_vendedor" %}
      <h4>Lo atiende: {{ cliente.Atiende }}</h4>
    {% endif %}  
    <h4>Su status es: {{ cliente.get_Status_display }}</h4>
    <a href="{% url 'editar_cliente' pk=cliente.pk %}">Editar cliente</a>
  </div>
  <div class="col-sm-4 col-sm-offset-1">
    <h4>Dirección Fiscal:</h4>
    {% if direccion %}
      <p>Calle: {{ direccion.Calle }}</p>
      <p>Calle2: {{ direccion.Calle2 }}</p>
      <p>Colonia: {{ direccion.Colonia }}</p>
      <p>Ciudad: {{ direccion.Ciudad }} | Estado: {{ direccion.Estado }}</p>
      <p>País: {{ direccion.Pais }} | CP: {{ direccion.Codigo_Postal }}</p>
      <a href="{% url 'editar_direccion' pk=direccion.pk %}">Editar dirección</a>
    {% else %}
      <p>No se ha agregado una dirección para este cliente.</p>
      <a href="{% url 'nueva_direccion' pk=cliente.pk %}">Agregar Dirección</a>
    {% endif %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-5">
    <h4>Contactos:</h4>
    {% for contacto in contactos %}
      <p>{{ contacto }} / {{ contacto.get_Rol_display }}</p>
      {% if contacto.Email %}
        <p>Email: {{ contacto.Email }}</p>
      {% endif %}
      {% if contacto.Celular %}
        <p>Celular: {{ contacto.Celular }}</p>
      {% endif %}
      {% if contacto.Telefono %}
        <p>Telefono: {{ contacto.Telefono }}</p>
      {% endif %}
      <a href="{% url 'editar_contacto' pk=contacto.pk %}">Editar contacto</a>
      <p></p>
    {% empty %}
      <p>No se han agregado contactos para este cliente.</p>
    {% endfor %}
    </br>
    <p><a href="{% url 'nuevo_contacto' pk=cliente.pk %}">Agregar Contacto</a></p>
    </br>
  </div>
</div>
{% endblock %}
