{% extends "comercial/base_comercial.html" %}
{% load humanize %}
{% load comercial_tags %}

{% block AreaTrabajo %}
<h3 class="txt-c">
  <a href="{% url 'detalle_cliente' pk=caso.Cliente.pk %}">{{ caso.Cliente.Nombre_Empresa }}</a>
  {{ caso.Descripcion }}
</h3>
<div class="row">
  <div class="col-sm-3 col-sm-offset-1">
    {% if request.user|has_group:"comercial_vendedor" or request.user|has_group:"comercial_mger" %}
      <p class="txt-c"><a href="{% url 'agregar_interaccion' pk_caso=caso.pk %}">Agregar Interaccion</a></p>
    {% endif %}
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    {% if request.user|has_group:"comercial_vendedor" or request.user|has_group:"comercial_mger" %}
      <p class="txt-c"><a href="{% url 'actualizar_caso' pk=caso.pk %}">editar</a></p>
    {% endif %}
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    {% if request.user|has_group:"comercial_backup" or request.user|has_group:"comercial_mger" %}
      <p class="txt-c"><a href="{% url 'agregar_anotacion' pk_caso=caso.pk %}">Agregar Interaccion</a></p>
    {% endif %}
  </div>
</br><hr>
</div>
{% for etapa in historial %}
  <div class="row">
    <div class="row">
      <div class="col-sm-3">
        {% if forloop.first %}
          {% if request.user|has_group:"comercial_backup" or request.user|has_group:"comercial_mger" and caso.Requiere_revision_admon == True %}
            <button data-id="{{ caso.pk }}" type="button">Caso Revisado</button>
          {% endif %}
        {% endif %}
      </div>
      <div class="col-sm-7">
        <h4 class="txt-c"> {{ etapa.Fecha }} / {{ etapa.get_Etapa_display }} </h4></br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <div class="row">
          {% for interaccion in interacciones %}
            {% if interaccion.Hist_Etapa == etapa %}
              <div class="msg-interaccion">
                <p> {{ interaccion.Descripcion }} </p>
                <p>{{ interaccion.Hecha_por.first_name }} | {{ interaccion.Fecha|date:'F-d' }} {{ interaccion.Fecha|time:"H:i" }}</p>
              </div>
              <p>Siguiente contacto: {{ interaccion.Buscar_el }} </p>
            {% endif %}
          {% empty %}
            </br><p class="txt-c">No hay interacciones para este caso.<p>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <div class="row">
          {% for anotacion in anotaciones %}
            {% if anotacion.Hist_Etapa == etapa %}
              <div class="msg-anotacion">
                <p> {{ anotacion.Requerimiento }} </p>
                <p>{{ anotacion.Hecha_por.first_name }} | {{ anotacion.Fecha|date:'F-d' }} {{ anotacion.Fecha|time:"H:i" }}</p>
              </div>
            {% endif %}
          {% empty %}
            </br><p class="txt-c">No hay anotaciones para este caso.<p></br></br>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% empty %}
  <p>No se han registrado cambios en este caso.</p>
{% endfor %}
<hr>
<div class="row">
  <div class="col-sm-3 col-sm-offset-1">
    {% if caso.Agencia %}
      <p><a href="{% url 'detalle_agencia' pk=caso.Agencia.pk %}">Agencia: {{ caso.Agencia }} </a></p>
    {% endif %}
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    {% if caso.Agencia %}
      <p>Contacto en agencia: {{ caso.Vendedor_Agencia }} </p>
    {% endif %}
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    {% if caso.Agencia %}
      <p>Monto: ${{ caso.Monto|intcomma }} </p>
    {% endif %}
  </div>
</div>
</br></br>
{% endblock %}

{% block javascript %}
<script>
$('button').on('click', function(event){
  event.preventDefault();
  var element = $(this);
  $.ajax({
    url : '/comercial/revision_realizada/',
    type: 'GET',
    data: { caso_pk : element.attr("data-id") },

    success : function(response){
      element.html(' ' + response);
    }
  });
});
</script>
{% endblock %}
