{% extends "comercial/base_comercial.html" %}


{% block AreaTrabajo %}

<div class="row">
  <div class="col-sm-9 col-sm-offset-2">
    <div class="row">
      <div class="col-sm-9">
        <h2>Lista Agencias</h2></br>
      </div>
      <div class="col-sm-3">
        <p id="aa"><a href="{% url 'nueva_agencia' %}">Agregar Agencia</a></p>
      </div>
    </div>
    {% for agencia in agencias %}
    <div class="row borde-inferior">
      <div class="col-sm-5">
        <h4><a href="{% url 'detalle_agencia' pk=agencia.pk %}">{{ agencia.get_Marca_display }} {{ agencia.get_Grupo_display }} </a></h4>
      </div>
      <div class="col-sm-4">
        <h4>{{ agencia.Colonia }}</h4>
      </div>
      <div class="col-sm-2">
        <h4>{{ agencia.Ciudad }}</h4>
      </div>
    </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if agencias.has_previous %}
                <a href="?page={{ agencias.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ agencias.number }} of {{ agencias.paginator.num_pages }}.
            </span>

            {% if agencias.has_next %}
                <a href="?page={{ agencias.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
  </div>
</div>
{% endblock %}
