{% extends "comercial/base_comercial.html" %}
{% load crispy_forms_tags %}

{% block AreaTrabajo %}
<div class="row">
  <div class="col-sm-8 col-sm-offset-1">
    <h4>Agrega equipos a arrendar:</h4></br>
  </div>
</div>
<div class="col-sm-6 col-sm-offset-1">
  <form action="." method="POST">
    {{ formset.management_form }}
    {% csrf_token %}
    <div id="form_set">
      {% for form in formset %}
      <table class='attr'>
        {{ form|crispy }}
      </table>
      </br>
      {% endfor %}
    </div>
  </br><input type="button" value="Agregar otro" id="add_more" class="flt-r">
    </br><hr/>
    <p><input type="submit" value="Guardar" class="flt-r"></p>
    <div id="empty_form" style="display:none">
        <table class='eq_tabla'>
            {{ formset.empty_form|crispy }}
        </table>
    </div>
  </form>
</div>
  {% endblock %}

{% block javascript %}
<script type="text/javascript">
  $('#add_more').click(function(){
       var form_idx = $('#id_form-TOTAL_FORMS').val();
       $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
       $('#form_set').append('</br>');
       $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
  });
</script>
{% endblock %}
