{% extends "comercial/base_comercial.html" %}

{% block AreaTrabajo %}
<div class="col-sm-12 col-xs-12">
  {% for caso in lista_casos_crd %}
    <div class="row cerrado">
      <div class="row">
        <div class="col-sm-9">
          <h4 class="h4_ctrl_panel_vendedor">{{ caso }}</h4>
        </div>
        <div class="col-sm-3">
          </br><a href="{% url 'detalle_caso' pk=caso.pk %}">detalle caso</a>
        </div>
      </div>
    </div>
  {% endfor %}
  {% for caso in lista_casos_fon %}
    <div class="row aprobado {% if caso.Requiere_revision_admon == True %} attn-req {% endif %}">
      <div class="row info-caso">
        <div class="col-sm-9">
          <h4 class="h4_ctrl_panel_vendedor">{{ caso }}</h4>
        </div>
        <div class="col-sm-3">
          </br><a href="{% url 'detalle_caso' pk=caso.pk %}">detalle caso</a>
        </div>
      </div>
      <div class="col-sm-12 dp-n opciones-caso">
        <div class="col-sm-3 col-sm-offset-1">
          <p><a class="agregar_int" href="{% url 'agregar_anotacion' pk_caso=caso.pk %}">Anotacion</a></p>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          <a class="que_sigue">opcion</a>
        </div>
      </div>
    </div>
  {% endfor %}
  {% for caso in lista_casos_apr %}
    <div class="row aprobado {% if caso.Requiere_revision_admon == True %} attn-req {% endif %}">
      <div class="row info-caso">
        <div class="col-sm-9">
          <h4 class="h4_ctrl_panel_vendedor">{{ caso }}</h4>
        </div>
        <div class="col-sm-3">
          </br><a href="{% url 'detalle_caso' pk=caso.pk %}">detalle caso</a>
        </div>
      </div>
      <div class="col-sm-12 dp-n opciones-caso">
        <div class="col-sm-3 col-sm-offset-1">
          <p><a class="agregar_int" href="{% url 'agregar_anotacion' pk_caso=caso.pk %}">Anotacion</a></p>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          <a class="que_sigue">opcion</a>
        </div>
      </div>
    </div>
  {% endfor %}
  {% for caso in lista_casos_eap %}
    <div class="row epe {% if caso.Requiere_revision_admon == True %} attn-req {% endif %}">
      <div class="row info-caso">
        <div class="col-sm-9">
          <h4 class="h4_ctrl_panel_vendedor">{{ caso }}</h4>
        </div>
        <div class="col-sm-3">
          </br><a href="{% url 'detalle_caso' pk=caso.pk %}">detalle caso</a>
        </div>
      </div>
      <div class="col-sm-12 dp-n opciones-caso">
        <div class="col-sm-3 col-sm-offset-1">
          <p><a class="agregar_int" href="{% url 'agregar_anotacion' pk_caso=caso.pk %}">Anotacion</a></p>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          {% if caso.Cliente.Persona_Moral == True %}
            <a class="que_sigue" href="{% url 'actualizar_documentacion_caso' pk=documentacion_int.pk %}">Editar Docs</a>
          {% else %}
            <a class="que_sigue" href="">Editar Docs PF</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  {% for casos_epa, documentacion_epa in listas_epa %}
    <div class="row eap {% if caso_epa.Requiere_revision_admon == True %} attn-req {% endif %}">
      <div class="row info-caso">
        <div class="col-sm-9">
          <h4 class="h4_ctrl_panel_vendedor">{{ casos_epa }}</h4>
        </div>
        <div class="col-sm-3">
          </br><a href="{% url 'detalle_caso' pk=casos_epa.pk %}">detalle caso</a>
        </div>
      </div>
      <div class="col-sm-12 dp-n opciones-caso">
        <div class="col-sm-3 col-sm-offset-1">
          <p><a class="agregar_int" href="{% url 'agregar_anotacion' pk_caso=casos_epa.pk %}">Anotacion</a></p>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          {% if documentacion_epa %}
            {% if casos_epa.Cliente.Persona_Moral == True %}
              <a class="que_sigue" href="{% url 'actualizar_documentacion_caso' pk=documentacion_epa.pk %}">Editar Docs</a>
            {% else %}
              <a class="que_sigue" href="">Editar Docs PF</a>
            {% endif %}
          {% else %}
            {% if casos_epa.Cliente.Persona_Moral == True %}
              <a class="que_sigue" href="{% url 'nueva_documentacion_caso' pk_caso=casos_epa.pk %}">Crear Docs</a>
            {% else %}
              <a class="que_sigue" href="">Crear Docs PF</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  {% for casos_cot, documentacion_cot in listas_cot %}
    <div class="row cotizacion {% if caso_cot.Requiere_revision_admon == True %} attn-req {% endif %}">
      <div class="row info-caso">
        <div class="col-sm-9">
          <h4 class="h4_ctrl_panel_vendedor">{{ casos_cot }}</h4>
        </div>
        <div class="col-sm-3">
          </br><a href="{% url 'detalle_caso' pk=casos_cot.pk %}">detalle caso</a>
        </div>
      </div>
        <div class="col-sm-12 dp-n opciones-caso">
          <div class="col-sm-3 col-sm-offset-1">
            <p><a class="agregar_int" href="{% url 'agregar_anotacion' pk_caso=casos_cot.pk %}">Anotacion</a></p>
          </div>
          <div class="col-sm-3 col-sm-offset-1">
            {% if documentacion_cot %}
              {% if casos_cot.Cliente.Persona_Moral == True %}
                <a class="que_sigue" href="{% url 'actualizar_documentacion_caso' pk=documentacion_cot.pk %}">Editar Docs</a>
              {% else %}
                <a class="que_sigue" href="">Editar Docs PF</a>
              {% endif %}
            {% else %}
              {% if casos_cot.Cliente.Persona_Moral == True %}
                <a class="que_sigue" href="{% url 'nueva_documentacion_caso' pk_caso=casos_cot.pk %}">Crear Docs</a>
              {% else %}
                <a class="que_sigue" href="">Crear Docs PF</a>
              {% endif %}
            {% endif %}
          </div>
        </div>
    </div>
  {% endfor %}
  {% for casos_int, documentacion_int in listas_int %}
    <div class="row interes {% if caso_int.Requiere_revision_admon == True %} attn-req {% endif %}">
      <div class="row info-caso">
        <div class="col-sm-9">
          <h4 class="h4_ctrl_panel_vendedor">{{ casos_int }}</h4>
        </div>
        <div class="col-sm-3">
          </br><a href="">detalle caso</a>
        </div>
      </div>
      <div class="col-sm-12 dp-n opciones-caso">
        <div class="col-sm-3 col-sm-offset-1">
          <p><a class="agregar_int" href="">Anotacion</a></p>
        </div>
        <div class="col-sm-3 col-xs-offset-1">
          {% if documentacion_int %}
            {% if casos_int.Cliente.Persona_Moral == True %}
              <a class="que_sigue" href="{% url 'actualizar_documentacion_caso' pk=documentacion_int.pk %}">Editar Docs</a>
            {% else %}
              <a class="que_sigue" href="">Editar Docs PF</a>
            {% endif %}
          {% else %}
            {% if casos_int.Cliente.Persona_Moral == True %}
              <a class="que_sigue" href="{% url 'nueva_documentacion_caso' pk_caso=casos_int.pk %}">Crear Docs</a>
            {% else %}
              <a class="que_sigue" href="">Crear Docs PF</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block javascript %}
<script>
$('.h4_ctrl_panel_vendedor').click( function() {
  $(this).parents('.info-caso').next('.opciones-caso').slideToggle();
});
$('.que_sigue').click( function() {
  $(this).parents('.opciones-caso').find('.anotacion').slideToggle();
});
</script>
{% endblock %}
