{% extends "comercial/base_comercial.html" %}


{% block AreaTrabajo %}

<div class="row">
  <div class="col-sm-7 col-sm-offset-2">
    <h2>Lista Agencias</h2></br>
    {% for agencia in agencias %}
      <h4><a href="{% url 'detalle_agencia' pk=agencia.pk %}">{{ agencia }}</a></h4>
    {% endfor %}  
    <div class="pagination">
        <span class="step-links">
            {% if agencias.has_previous %}
                <a href="?page={{ agencias.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ agencias.number }} of {{ agencias.paginator.num_pages }}.
            </span>

            {% if agencias.has_next %}
                <a href="?page={{ agencias.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
  </div>
</div>
{% endblock %}
